#root {
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #141414;
  background-color: #f7f7f7;
  margin-bottom: 10px;
}

.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: auto;
}

/* nav */

#logo {
  max-height: 60px;
}

#nav-bar {
  text-align: center;
  margin-bottom: 20px;
  /* padding: 10px; */
  background: #f7f7f7;
  width: 100%;
  border-bottom: solid 1px #c70000;
}

#nav-menu {
  /* display: flex;
  justify-content: space-around; */
  position: absolute;
  top: 24px;
  right: 20px;
  display: flex;
  list-style: none;
  /* color: #f7f7f7; */
  text-decoration: none;
  /* margin: 8px 15% 8px 15%; */
}

.nav-link {
  all: unset;
  font-size: 16px;
  color: inherit;
  text-decoration: inherit;
  padding: 20px;
}

/* search */

#search-bar {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* margin-bottom: 20px; */
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: solid 1px #c70000;
}

h1 {
  display: none;
}

label {
  display: none;
}

/* input,
select {
  border: none;
  padding: 10px;
  text-align: center;
} */

#side-bar {
  position: absolute;
  top: 160px;
  left: 20px;
  width: 400px;
}

#topic-container {
  display: flex;
}

.country-button,
.topic-button,
.language-button,
#search {
  border: 0;
  margin-bottom: 18px;
  background-color: #f7f7f7;
  font-size: 16px;
}

#search {
  text-align: center;
  height: 28px;
  padding: 0px;
  margin-bottom: 18px;
}

#language-dropdown {
  position: absolute;
  top: 108px;
  right: 20px;
  background-color: #f7f7f7;
  padding: 5px;
  border: 1px solid #ddd;
}

#language-dropdown button {
  border: 0;
  margin-bottom: 18px;
  background-color: #f7f7f7;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

#language-dropdown button:hover {
  /* background-color: #f7f7f7; */
  color: #c70000;
}

.country-button {
  display: block;
  min-width: 160px;
  border-bottom: solid 1px #141414;
  text-align: left;
}

#country-heading {
  text-align: left;
  margin-bottom: 18px;
}

.topic-button {
  margin-right: 16px;
  margin-left: 16px;
}

/* #language-container {
  height: 0;
  visibility: hidden;
} */

/* article cards */

.content {
  max-width: 60%;
  margin: auto;
}

.article {
  max-width: 100%;
  padding: 24px;
  margin-bottom: 20px;
  border-bottom: solid 2px #c70000;
  /* border-radius: 8px; */
  background-color: #f7f7f7;
  overflow: auto;
}

.title,
.yassername {
  font-size: 18px;
  margin-bottom: 16px;
  color: #141414;
  text-align: center;
}

.source-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.author,
.published-at,
.source {
  font-size: 12px;
  color: #282828;
}

.description {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.image {
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 8px;
}

.read-more {
  color: #fbfbfb;
  background-color: #c70000;
  border-radius: 1px;
  border: none;
  padding: 8px 16px 8px 16px;
}

.yassercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  margin: auto;
}

.yasserimage,
.yassertext {
  max-width: 40%;
  border-radius: 2px;
  margin: 0 8px 8px 8px;
  object-fit: cover;
}
